body {
    background-color: #99C68E;
    margin: 0; /* Ensure no margin around the body */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    position: relative; /* Make sure it can contain absolutely positioned children */
}

.frog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Position relative for absolute positioning of children */
    height: 200px; /* Set a specific height for the frog */
}    

.frogface {
    position: absolute;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for element width */
    background-color: #53b28f;
    height: 80px;
    width: 200px;
    border-radius: 45%;
    top: 40px; /* Position from top */
    z-index: 2;
}

.eye {
    background-color: #53b28f;
    height: 55px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.eye.one {
    left: calc(50% - 100px); /* Adjust to center */
    top: -25px;
}

.eye.two {
    left: calc(50% + 55px); /* Adjust to center */
    top: -25px;
}

.eye {
    background-color: white; 
    height: 55px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.pupil {
    background-color: black; 
    height: 30px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}

.pupil.one {
    left: 5px;
    top: 10px;
    transform: rotate(-6deg);
}

.pupil.two {
    right: 5px;
    top: 10px;
    transform: rotate(6deg);
}

.frogmouth {
    position: absolute;
    width: 60px;
    height: 10px;
    left: 50%; 
    transform: translateX(-50%); 
    bottom:4.5px; 
    background-color: #000;
    border-radius: 70px; 
}
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px); /* Adjust the height of the jump */
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes bubbleAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0; /* Fade out */
    }
}

.bubble {
    position: absolute;
    border:1px solid #000;
    background-color: rgb(132, 227, 232); /* Color of the bubble */
    border-radius: 50%;
    width: 20px; /* Size of the bubble */
    height: 20px; /* Size of the bubble */
    pointer-events: none; /* Prevent interaction */
    animation: bubbleAnimation 1s forwards; /* Animate the bubble */
}
