body {
    background-color: #99C68E;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.frog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200px;
}    

.frogface {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #53b28f;
    height: 80px;
    width: 200px;
    border-radius: 45%;
    top: 40px;
    z-index: 2;
}

.eye {
    background-color: white; 
    height: 55px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.eye.one {
    left: calc(50% - 100px);
    top: -25px;
}

.eye.two {
    left: calc(50% + 55px);
    top: -25px;
}

.pupil {
    background-color: black; 
    height: 30px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}

.pupil.one {
    left: 5px;
    top: 10px;
    transform: rotate(-6deg);
}

.pupil.two {
    right: 5px;
    top: 10px;
    transform: rotate(6deg);
}

.frogmouth {
    position: absolute;
    width: 60px;
    height: 10px;
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 4.5px; 
    background-color: #000;
    border-radius: 70px; 
}

.dialog-box {
    position: relative;
    background: white;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 279px;
    border: 2px solid #333;
    width: 200px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-box p {
    margin: 0;
    padding: 0;
}

.dialog-box:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bubbleAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

.bubble {
    position: absolute;
    border: 1px solid #000;
    background-color: rgb(132, 227, 232);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    pointer-events: none;
    animation: bubbleAnimation 1s forwards;
}
