body {
    background-color: #99C68E;
    margin: 0; /* Ensure no margin around the body */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    position: relative; /* Make sure it can contain absolutely positioned children */
}

.frog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Position relative for absolute positioning of children */
    height: 200px; /* Set a specific height for the frog */
}    

.frogface {
    position: absolute;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for element width */
    background-color: #53b28f;
    height: 80px;
    width: 200px;
    border-radius: 45%;
    top: 40px; /* Position from top */
    z-index: 2;
}

.eye {
    background-color: #53b28f;
    height: 55px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.eye.one {
    left: calc(50% - 100px); /* Adjust to center */
    top: -25px;
}

.eye.two {
    left: calc(50% + 55px); /* Adjust to center */
    top: -25px;
}

.eye {
    background-color: white; 
    height: 55px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.pupil {
    background-color: black; 
    height: 30px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}

.pupil.one {
    left: 5px;
    top: 10px;
    transform: rotate(-6deg);
}

.pupil.two {
    right: 5px;
    top: 10px;
    transform: rotate(6deg);
}

.frogmouth {
    position: absolute;
    width: 60px;
    height: 10px;
    left: 50%; 
    transform: translateX(-50%); 
    bottom:4.5px; 
    background-color: #000;
    border-radius: 70px; 
}

.dialog-box {
    position: relative;
    background: white;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 279px;
    border: 2px solid #333;
    width: 200px;  /* Set fixed width */
    height: 50px;  /* Set fixed height */
    text-align: center;
    display: flex;  /* Add flex display */
    align-items: center;  /* Center content vertically */
    justify-content: center;  /* Center content horizontally */
}

/* Ensure the paragraph inside maintains consistent spacing */
.dialog-box p {
    margin: 0;
    padding: 0;
}

.dialog-box:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}
